.inline-block {
    display: inline-block;
    vertical-align: center;
}
.logo {
    width: 23%;
    padding-left: 1%;
    text-align: left;
    margin-bottom: 5%;
    margin-top: -5%;

}
nav {
    width: 73%;
    padding: 1%;
}
ul {
    width: 50%;
    margin-left: auto;
}

footer {
    padding: 1%;
    border: solid black 2px;
}
footer.ul {
    display: inline-block;
    vertical-align: top;
    justify-content: center;
}
.mySkills img {
    height: 200px;
}
.flexContainer {
    display: flex;
    width: 33%;
    margin: left;
    padding-left: 1%;
    gap: 5%;
}
.content {
    margin-left: 300px;
    margin-right: 200px;
    margin-bottom: 4%;
    border: 2px solid #94c5cc;
    background-color: #94c5cc;
    background-image: linear-gradient(#94c5cc,#a1a6b4 );
    text-align: start;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: .5%;
    padding-top: 3%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 450px;
    height: 150px;
}
.imgMain {
    height: 300px;
    opacity: 75%;
    padding-left: 40px;
}
body {
    height: 3000px;
    background-image: linear-gradient(#000100,gray,white);
}
.heroImg {
    display: inline-flex;
    opacity: 75%;
}
.mySkills {
    padding-top: 10%;
}
li {
    color: #94c5cc;
    padding-left: 3%;
}
#research {
    background-color: #94c5cc;
    background-image: linear-gradient(#94c5cc,#94c5cc,#a1a6b4);
}
#design {
    background-color: #94c5cc;
    background-image: linear-gradient(#94c5cc,#94c5cc,#a1a6b4);
}
#development {
    background-color: #94c5cc;
    background-image: linear-gradient(#94c5cc,#94c5cc,#a1a6b4);
}
